@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .content-box {
        @apply p-5 border-2 rounded-lg shadow-md border-l-divider dark:border-d-500-divider dark:bg-d-200-cards;
    }
    .content-wrap {
        @apply flex flex-col items-stretch gap-4;
    }
    .form-header {
        @apply text-2xl font-medium text-center dark:text-d-700-text;
    }
    .form-text {
        @apply font-medium dark:text-d-700-text;
    }
}

.quill {
    width: 100%;
    overflow-x: hidden;
    min-height: 30vh;
}

.ql-toolbar, .ql-snow {
    border: none !important;
}

.ql-editor {
    padding-inline: 40px !important;
}

.ql-editor {
    font-size: 1.1rem;
}

.dark path.ql-stroke {
    stroke: white;
}

.dark path.ql-fill {
    fill: white;
}

.dark line.ql-stroke {
    stroke: white;
}

.dark polyline.ql-stroke {
    stroke: white;
}

.dark line {
    stroke: white;
}

.dark rect.ql-fill {
    fill: white;
}

.dark rect.ql-stroke {
    stroke: white;
}

.dark .ql-picker-label {
    color: white
}

.dark polygon.ql-stroke {
    stroke: white;
}

.dark .ql-container {
    color: white;
}

.ql-container {
    width: 100%;
    max-height: 75vh;

    overflow-y: scroll;
}

.ql-editor {
    width: 100%;
    word-wrap: break-word;
}

.ql-editor p, span {
    max-width: 100%;
    word-wrap: break-word;
}
